.header-container > .header-title {
    font-size: 30px;
    color: #4d4d4d;
    font-weight: 900;
    text-align: center;
}

.header-container > .header-image {
    padding: 35px 20px 15px 20px;
    margin: auto;
}

.header-container > .header-image img {
    max-width: 100%;
}

.login-group > .input-label {
    text-align: center;
}

.input-label {
    font-size: 18px;
    padding: 5px 0 5px 0;
    color: #0F573B;
    font-weight: 600;
    display: block;
}

.input-textfield {
    width: 100%;
    padding: 5px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #0F573B;
}

.input-textfield.alert {
    border: 1px solid #fa1d26;
}

.msg-alert {
    color: #fa1d26!important;
}

.input-textfield:focus {
    color: #000000;
    border-color: #0F573B;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(15, 87, 59, 0.5)
}

.input-textfield.alert:focus {
    border-color: #fa1d26;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(250, 29, 38, 0.5)
}

.login-group > .login {
    padding: 5px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #0F573B;
    border-radius: 20px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
}

.login-group > .login:hover {
    background: #0F573B;
    color: #ffffff;
}
